.mobile-nav,
.desktop-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile-nav {
  padding: var(--mobile-nav-padding);
}

.desktop-nav {
  padding: var(--desktop-nav-padding);
  align-items: center;
}

.desktop-item-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}


.active {
  color: var(--mid-purple) !important;
}

.desktop-item-container li {
  padding: 0 30px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 1024px) {
  .desktop-nav {
    display: none;
  }
}

@media (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-item-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: var(--footer-color);
  height: 100%;
  width: 100%;
}


.mobile-item-container nav ul li {
  list-style-type: none;
  color: var(--white-color);
  font-weight: 700;
  margin-bottom: 30px;
}

.mobile-item-container nav ul {
  margin-top: 60px;
  padding: 25px 25px 0px 25px;
}

.mobile-logo-active {
  z-index: 4;
}

.social_header {
  padding-left: 25px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}