:root {
  --mobile-nav-padding: 25px;
  --desktop-nav-padding: 42px 112px 25px 42px;
  --mid-purple: #747ffe;
  --white-color: #fff;
  --brand-blue: #16bbfd;
  --section-mobile-spacing: 82px;
  --blue-color: #00b6ff;

  --gradient-first-color: #f059fc;
  --gradient-second-color: #00b6ff;
}

body {
  margin: 0;
  font-family: "Readex Pro", sans-serif;
}

.cp {
  cursor: pointer;
}

.pr {
  position: relative;
}

.text-center {
  text-align: center;
}

.m0 {
  margin: 0px;
}

.mb2 {
  margin-bottom: 10px;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.jcbtw {
  justify-content: space-between;
}

.m-auto {
  margin: 0 auto;
}

.module-border-wrap {
  position: relative;
  background: linear-gradient(90deg, var(--gradient-first-color), var(--gradient-second-color));
  padding: 4px;
  border-radius: 10px;
  width: 220px;
}

.module {
  background: #fff;
  color: var(--brand-blue);
  padding: 17px 21px;
  border-radius: inherit;
}


.section-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 52.8px;
}


@media(max-width: 1024px) {
  .section-title  {
    font-size: 32px;
  }
}